@model MVC_CRUD.Models.clsCountry

@*@using (Html.BeginForm("AddUpdateCity", "Home", FormMethod.Post))*@
@* { *@
@*@Html.AntiForgeryToken()*@

<div class="form-horizontal">
    <h4>tblCountry</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CountryId, new { })

    <div class="form-group">
        @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default add" />
        </div>
    </div>
</div>
@* } *@


<script>
   
    $(document).on('click', '.add', function () {
        var Id = $('#CountryId').val();
        var CountryName = $('#CountryName').val();
        var country = {
            'CountryId': Id,
            'CountryName': CountryName
        }
        $.ajax({
            type: "POST",
            url: "/Country/AddUpdateCountry/",
            data: { 'country': country },
            dataType: 'json',
            success: function (response) {
                if (response.status) {
                    location.reload();
                }
                else {
                    alert(response.message);
                }
            }
        })
    })


   



</script>
